/* .product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #737373;
  border-radius: 1rem;
  height: 85vh !important; } */

.right-side {
  padding: 10px 0; }

.aboutProduct {
  margin-top: -1rem; }
  .aboutProduct__text {
    font-weight: bold;
    color: #2F323D; }

/*Product's rating part style*/
.productRating {
  margin-top: -.5rem; }
  .productRating__stars {
    margin-bottom: -.5rem; }
    .productRating__stars--img-f {
      width: 16px;
      height: 32px; }
  .productRating__text {
    font-size: 1rem;
    margin-left: 5rem;
    color: #596178; }

/*Pricing and dpayinf method part styling */
.payment {
  margin-top: .5rem; }
  .payment__current {
    margin-bottom: 1rem;
    color: #2F323D; }
  .payment__old {
    display: flex;
    align-items: center; }
    .payment__old h6 {
      display: inline-block;
      text-decoration: line-through;
      margin-right: 3rem;
      color: #596178; }
  .payment__discount {
    background-color: #FF5530;
    padding: .2rem .4rem;
    border-radius: .5rem;
    font-weight: 100;
    color: #fff; }
  .payment__method--logo {
    display: inline-block;
    width: 50px;
    height: 30px;
    margin-left: 1rem; }
  .payment__delivery--img {
    width: 24px;
    height: 24px; }
  .payment__delivery--wrapper {
    margin-left: 1.5rem; }
    .payment__delivery--wrapper span {
      color: #2F323D; }

/*Quantity part styling */
.quantity {
  margin: 15px 0; }
  .quantity__counter {
    display: flex;
    align-items: center;
    margin-bottom: 40px; }
    .quantity__counter--value-input {
      padding: 10px;
      text-align: center;
      border: 1px solid #E0E0E0;
      max-width: 50px;
      height: 42px; }
    .quantity__counter--increment, .quantity__counter--decrement {
      align-items: center;
      text-align: center;
      width: 42px;
      height: 42px;
      color: #E0E0E0;
      border: 1px solid #E0E0E0;
      background-color: transparent; }
      .quantity__counter--increment img, .quantity__counter--decrement img {
        width: 28px; }
    .quantity__counter--increment {
      margin-left: 8px; }
    .quantity__counter--decrement {
      margin-right: 8px; }
  .quantity__badge {
    margin-left: 25px;
    width: 162px;
    height: 32px;
    border-radius: 3px;
    font-size: 11px;
    background-color: #EFEEB4;
    padding: 5px 10px; }
    .quantity__badge--icon {
      width: 16px;
      height: 10px;
      margin-right: 10px;
      margin-left: 5px; }
  .quantity__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    .quantity__btns--1, .quantity__btns--2 {
      display: flex;
      align-items: center;
      padding: 8px 32px;
      border-radius: 4px; }
    .quantity__btns--1 {
      background-color: #309975;
      border: none;
      color: #fff; }
    .quantity__btns--2 {
      background-color: transparent;
      border: 1px solid #E0E0E0; }

.delivery-pricing p {
  margin-top: 20px; }

.peyment__method {
  margin: 1.5rem 0; }

.hr-line {
  border-bottom: 2px solid #E1DFDF; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.main {
  position: relative;
  width: 100%;
  height: 100%;
  color: #596178;
  font-weight: 500;
  margin: 50px 200px;
  display: flex;
  flex-direction: row;
  align-items: stretch; }

  /* Hide the images by default */
  .mySlides {
    display: none;
    border: 1px solid  #E0E0E0;
    box-sizing: border-box;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    height: 90%;
  }
  .mySlides img{
    width: 300px;

  }
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons*/
  .prev,
  .next {
    text-decoration: none;
    color: #777;
    font-size: 20px;
    width: auto;
    padding: 5px 10px;
    cursor: pointer;
  }
  .prev:hover,
  .next:hover{
    color:#454D66 ;

  }
 
  .next-wrapper{
    background-color: #fff;
    color:#454D66 ;
    width: 36px;
    height: 36px;
    border: 1px solid #E0E0E0;
    transform: translateX(15px) translateY(-24px) rotate(90deg);
  }
  .prev-wrapper{
    background-color: #fff;
    color: #777;
    width: 36px;
    height: 36px;
    border: 1px solid #E0E0E0;
    transform: translateX(15px) translateY(20px) rotate(-90deg);
  }
  .rowOfThumbals{
    transform: translateX(-40px) translateY(-25px);
    text-align: center;
    
  }
    .columnTh img{
      width: 35px;
    }
  .columnTh{
    width: 65px;
    height: 65px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
 .columnTh:hover,
 .columnTh:active{ 
    border: 1px solid #4CA780 ;  }
 
  

























