// .left-side{
// //   padding: 0 10px 0 0;
// }

.product-img {
    
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #737373; 
  border-radius: 1rem;
  height: 85vh !important;
}
